@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 36% 7%;
    --foreground: 210 20% 96%;
    --card: 212 27% 11%;
    --card-foreground: 210 20% 94%;
    --popover: 212 27% 11%;
    --popover-foreground: 210 20% 94%;
    --primary: 212 100% 61%;
    --primary-foreground: 210 100% 98%;
    --secondary: 212 23% 16%;
    --secondary-foreground: 210 20% 94%;
    --muted: 212 21% 14%;
    --muted-foreground: 215 12% 67%;
    --accent: 212 23% 16%;
    --accent-foreground: 210 20% 94%;
    --destructive: 0 63% 45%;
    --destructive-foreground: 210 100% 98%;
    --border: 212 23% 16%;
    --input: 212 23% 16%;
    --ring: 212 95% 66%;
    --radius: 0.65rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
